@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #DD342E;
    --cor1: #dc322e;
    --cor2: #383D88;
    --cor3: #DF332E;
    --cor5: #ffffff;
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

header{
    background-color: var(--cor5);
    color: var(--cor5);
    text-align: center;
    padding: 20px;
}
header  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--cor2);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
}
header p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6em;
    color: var(--cor3);
}
nav{
    background-color: #ffffff;
    padding: 10px;

}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    font-family: fonte1;
}
nav a:hover{
    background-color: var(--cor2);
    transition: 0.6s;
    color: white;
    background-color: #f56865;
    
}
.fundo-banner h1{
    padding-top: 160px ;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.651);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}
.fundo-banner h3{
    color: #f56865;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;

}
.fundo-banner p{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.3em;
    width: 450px;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 26px;
}
section.fundo-banner{
    background-image: url(img/banner.jpg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0044f1ea;
    padding: 20px;
    height: 62vh;
    margin: auto;
    width: 100%;
    border-radius: 20px;
    position: relative;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.418);
}
.fundo-banner a{
    text-decoration: none;
    color: white;
    background-color: #f56865;
    display: block;
    padding: 12px;
    font-family: fonte1;
    font-size: 1.1em;
    text-align: center;
    width: 150px;
    border-radius: 10px;
}
.fundo-banner a:hover{
    color: rgb(255, 255, 255);
    background-color: #ff0400;
    transition: 0.5s
}

main{
    margin: auto;
    padding: 20px;
}
main h2{
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: fonte3;
}
aside img{
    width: 80px;
    height: 80px;
    padding: 20px 20px 10px 20px;
}
section.conteudo{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 1150px;
    margin: auto;
}
aside{
    display: inline-block;
    flex-wrap: wrap;
    max-width: 200px;
    border: 0px solid rgba(0, 0, 0, 0.123);
    padding: 16px;
     border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    font-family: fonte1;
    font-size: 0.8em;
    background-color: #FCFCFC;
}
aside p{
    color: blue;
    font-family: fonte1;
    font-size: 1.2em;
    text-align: left;
    padding: 2px;

}
aside a{
    color: red;
    text-decoration: none;
    font-family: fonte1;
    font-size: 1.2em;
    text-align: left;
    padding: 2px;
    line-height: 3em;

}
aside a:hover{
    text-decoration: underline;
}
aside:hover{
    background-color: #8585857c;
    transition: 0.5s;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.267);
}


   










