@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #DD342E;
    --cor1: #dc322e;
    --cor2: #383D88;
    --cor3: #DF332E;
    --cor5: #ffffff;
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

header{
    background-color: var(--cor5);
    color: var(--cor5);
    text-align: center;
    padding: 20px;
}
header  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--cor2);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
}
header p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6em;
    color: var(--cor3);
}
nav{
    background-color: #ffffff;
    padding: 10px;
    text-align: center;

}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    font-family: fonte1;
}
nav a:hover{
    background-color: var(--cor2);
    transition: 0.6s;
    color: white;
    background-color: #f56865;
    
}
.fundo-banner h1{
    padding-top: 160px ;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}
.fundo-banner h3{
    color: #f56865;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
}
.fundo-banner p{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.342);
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.2em;
    max-width: 450px;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 26px;
}
section.fundo-banner{
    background-image: url(img/fundobanner.png);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0044f1ea;
    padding: 0px 0px 0px 54px;
    height: 62vh;
    margin: auto;
    max-width: 1600px;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.171);
}

.fundo-banner a{
    text-decoration: none;
    color: white;
    background-color: #f56865;
    display: block;
    padding: 12px;
    font-family: fonte1;
    font-size: 1.1em;
    text-align: center;
    width: 150px;
    border-radius: 10px;
}
.fundo-banner a:hover{
    color: rgb(255, 255, 255);
    background-color: #ff0400;
    transition: 0.5s
}
span.destaque{
    color: #f56865;
}

main{
    margin: auto;
    padding: 0px 20px 20px 20px;
}
main h2{
    color: #000000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.315);
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
aside img{
    width: 80px;
    height: 80px;
    padding: 20px 20px 10px 20px;
}
section.conteudo{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
}
aside{
    display: inline-block;
    flex-wrap: wrap;
    max-width: 200px;
    border: 0px solid rgba(0, 0, 0, 0.123);
    padding: 16px;
     border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    font-family: fonte1;
    font-size: 0.8em;
    background-color: #FCFCFC;
}
aside p{
    color: blue;
    font-family: fonte1;
    font-size: 1.2em;
    text-align: left;
    padding: 2px;

}
aside a{
    color: red;
    text-decoration: none;
    font-family: fonte1;
    font-size: 1.2em;
    text-align: left;
    padding: 2px;
    line-height: 3em;

}
aside a:hover{
    text-decoration: underline;
}
aside:hover{
    background-color: #8585857c;
    transition: 0.5s;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.267);
}
.footer {
  background: radial-gradient(circle at top, #1E3EA1, #1E3EA1);
  color: #ccc;
  padding: 60px 80px 30px;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.footer-col h2 {
  padding-bottom: 18px;  
  color: #fff;
  letter-spacing: 2px;
}
.footer-col p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 260px;
}
.footer-col a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer-col a:hover {
  color: #fff;
}
/*responsivo footer */
@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
.cabecalho{
    background-color: rgb(255, 255, 255);
    padding-top: 14px;
    padding-bottom: 14px;

}
.cabecalho-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecalho-container span{
   font-size: 1.6em;
   display: flex;
   align-items: center;
   gap: 6px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #383D88;
}
.cabecalho-col a{
    text-decoration: none;
    padding: 6px;
    font-size: 1.2em;
    color: #1b2027;
    font-family: fonte2;
}
.cabecalho-col a:hover{
    color: red;
}




   










